html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto;
  overflow: hidden;
  background-color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0)
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: black
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  text-align: center;
}

header, footer{
  background-color: #1f2229;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
main{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
