.container{
  height: 80%;
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(75,8,109,1) 0%, rgba(172,192,254,1) 100%);
  color: white;
  padding: 10px;
}
.container-form{
  z-index: 10;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 70%;

}

.container-title{
  margin-top:20px;
}

.form-payment{
  flex-direction: column;
  height: 70%;
  width: 70%;
}


.operator-title{
  text-transform: uppercase;
}

.list{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  overflow: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.error-validation{
  color: red;
  text-align: center;
}

@media screen and (max-width: 470px) {
  h1,h2{
    font-size: 22px;
  }
  .form-payment{
    width: 90%;
  }
}
@media screen and (max-width: 350px) {
  h1,h2{
    font-size: 20px;
  }
}